{% extends "layout.html" %}
{% set deceasedName = data.deceased.name or 'John Smith' %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "deceaseds-education",
          name: "deceased[education]",
          fieldset: {
            legend: {
              text: "Was the person who died in full-time education or training?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
