{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post">
        <h2 class="govuk-heading-l">Benefits</h2>

        <p>
          We will stop any benefits they were getting.
        </p>

        <p>
          We may owe benefit money or some might need paid back.
        </p>

        <p>
          It's quicker and easier to sort out if we know who should deal with this.
        </p>
      
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
</div>

{% endblock %}
