$govuk-card-border : govuk-colour("blue");

.govuk-card {
  margin-bottom: govuk-spacing(6);
  padding-bottom: govuk-spacing(6);
  border-bottom: 7px solid $govuk-card-border;
  box-sizing: border-box;

  &--success {
    border-color: #00823b;
  }

  &--warning {
    border-color: #f47738;
  }

  &--error {
    border-color: govuk-colour("red");
  }

  .govuk-button--start {
    font-size: 18px;
  }
}

.govuk-card--contained {
  background-color: govuk-colour("grey-4");
}

.govuk-card__hero {
  line-height: 0;
}

.govuk-card__hero img {
  max-width: 100%;
}

.govuk-card__content {
  padding-top: govuk-spacing(4);
  padding-bottom: 0;
}

.govuk-card__content p {
  margin-bottom: 0;
}

.govuk-card__content p + p {
  margin-top: govuk-spacing(4);
}

.govuk-card--contained .govuk-card__content {
  padding-left: govuk-spacing(4);
  padding-right: govuk-spacing(4);
}

.govuk-card__actions {
  padding-top: govuk-spacing(4);
  padding-bottom: 0;
}

.govuk-card--contained  .govuk-card__actions {
  padding-left: govuk-spacing(4);
  padding-right: govuk-spacing(4);
}
