
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: back
  }) }}
{% endblock %}


{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      
      <form method="post">
        {% set dateHtml %}
          {{ govukDateInput({
            id: "funeral-date",
            fieldset: {
              legend: {
                text: "Funeral date",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                label: "Day",
                name: "fep[funeral-date][day]",
                classes: "govuk-input--width-2"
              },
              {
                label: "Month",
                name: "fep[funeral-date][month]",
                classes: "govuk-input--width-2"
              },
              {
                label: "year",
                name: "fep[funeral-date][year]",
                classes: "govuk-input--width-4"
              }
            ]
          }) }}
          {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "funeral-date",
          name: "fep[funeral-date-known]",
          fieldset: {
            legend: {
              text: "Do you know the funeral date?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: dateHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
      
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
