{% extends "layout.html" %}
{% set deceasedName = data.deceased.name or 'John Smith' %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        {% set carerName %}
          {{ govukInput({
            id: "carer-name",
            name: "carer[name]",
            type: "text",
            classes: "govuk-!-width-one-half",
            label: {
              text: "Full name (optional)"
            }
          }) }}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "deceaseds-education",
          name: "carer[who]",
          fieldset: {
            legend: {
              text: "Who is responsible for dealing with the property, belongings and money of the person who's died?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "<p>We need to know in case we owe benefit money or some needs to be paid back.</p>"
          },
          items: [
            {
              value: "caller",
              text: "You"              
            },
            {
              value: "somebody-else",
              text: "Someone else",
              conditional: {
                html: carerName
              }
            },
            {
              divider: "or"
            },
            {
              value: "I don't know",
              text: "I don't know"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
