
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: back
  }) }}
{% endblock %}


{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if data.fep['funeral-date-is-in-the-future'] %}
        {% set heading = "Is the funeral being held in the UK?" %}
      {% else %}
        {% set heading = "Was the funeral held in the UK?" %}
      {% endif %}

      <form method="post">
        {{ govukRadios({
          idPrefix: "funeral-in-uk",
          name: "fep[funeral-in-uk]",
          fieldset: {
            legend: {
              text: heading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
      
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <a href="skip-fep">Skip FEP - caller does not want to apply</a>
    </div>
  </div>

{% endblock %}
