{% from "tag/macro.njk" import govukTag %}

{% macro card(p) %}
  <div class="govuk-card govuk-card--contained govuk-card--selectable {{p.classes}}">
    <a href="#"></a>
    <div class="govuk-card__content">
      {% if p.heading %}
        <h3 class="govuk-heading-s">{{p.heading}}</h3>
      {% endif %}
      {% if p.tag %}
        <p>
          {{ govukTag({
            attributes: p.tag.attributes,
            classes: p.tag.classes,
            text: p.tag.text
          }) }}
        </p>
      {% endif %}
      {% if p.body %}
        <p class="govuk-body">
          {{p.body}}
        </p>
      {% endif %}

      {% if p.link and (p.complete != true) and (p.eligible == true)  %}
        <a href={{p.link.url}} class="govuk-button govuk-!-margin-bottom-0 govuk-!-margin-top-2 govuk-button--start">{{p.link.text}}</a>
      {% endif %}
    </div>
  </div>
{% endmacro %}
