{% extends "layout.html" %}
{% set agent = true %}

{% block content %}
{% from "./macros/card.njk" import card %}

  <div>
    <h1 class="govuk-heading-l">Capture information about a death</h1>
    <p>Stop benefit payments to the person who died and check if the caller can apply for financial support.</p>
    <div class="govuk-grid-row card-button">
      <div class="govuk-grid-column-one-third">
        {{ card({
            heading: 'Collect death information',
            body: "Collect information about the caller and the person who died",
            link: {
              text: 'Start now',
              url: 'start-page'
            },
            eligible: true,
            complete: false,
            failed: false
          })
        }}
      </div>
      <div class="govuk-grid-column-one-third">
        {{ card({
            heading: 'Bereavement Support Payment',
            body: "The caller can check if they're eligible to apply after information has been completed about a death",
            classes: '',
            link: {
              text: 'start_bsp',
              url: 'bereavement-support-payments/landing'
            },
            eligible: false,
            complete: false,
            failed: false
          })
        }}
      </div>
      <div class="govuk-grid-column-one-third">
        {{ card({
            heading: 'Funeral Expenses Payment',
            body: "The caller can check if they're eligible to apply after information has been completed about a death",
            classes: '',
            link: {
              text: 'start_fep',
              url: 'funeral-expense-payments/landing'
            },
            eligible: false,
            complete: false,
            failed: false
          })
        }}
      </div>
    </div>
  </div>
{% endblock %}
