
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post">
        {% set yesHTML %}
          <div class="hospital-wrapper">
            <label class="govuk-label" for="autocomplete-customTemplates">Hospital name (optional)</label>
            <div id="tt-customTemplates" class="autocomplete-wrapper"></div>
          </div>
        {% endset -%}

        {{ govukRadios({
          idPrefix: "did-they-die-in-hospital-conditional",
          name: "hospital[did-they-die-in-hospital]",
          fieldset: {
            legend: {
              text: "Did they die in hospital?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: yesHTML
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      </div>
    </div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/js/autocomplete.js"></script>
  <script type="text/javascript" src="/public/javascripts/hospital-lookup-v1.js"></script>
{% endblock %}
