
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Declaration – read to the caller</h1>

      <p class="govuk-body">
        The information you’ve given will be used to update benefit records.
      </p>

      <p class="govuk-body">
        You agree that the information you’ve given is correct and complete as far as you know.
      </p>
     
      <div class="legal-message">
        {{ govukWarningText({
          text: "If you knowingly give false information you could be prosecuted or face other action.",
          iconFallbackText: "Warning"
        }) }}
      </div>
      
      <form method="post">

        {{ govukButton({
          text: "Agree and send"
        }) }}
       
      </form>

    </div>
  </div>

{% endblock %}
