
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: back
  }) }}
{% endblock %}


{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
        Bereavement Support Payment
      </h1>
      <strong class="govuk-tag govuk-tag govuk-tag--neutral eligibility-tag govuk-!-margin-bottom-5" id="eligibility-completed">
        Potentially eligible
      </strong>
      
      <p>
        The caller is potentially eligible because they are:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>working age</li>
        <li>married or in a civil partnership</li>
      </ul>

      <h2 class="govuk-heading-m">
        What they could get
      </h2>

      <p>
        They could get:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          a £2500 lump sum
        </li>
        <li>
          up to 18 monthly payments of £100
        </li>
      </ul>

      <p>
        The payments could be higher if they have dependent children.
      </p>

      <p>
        The money is tax free and paid directly into their bank account.
      </p>

      <p>
        Bereavement Support Payment will not affect any benefits for a year after the first payment.
      </p>
      
      <form method="post">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
      <a href="skip-bsp">Skip Bereavement Support Payment</a>
    </div>
  </div>

{% endblock %}
