
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {{ govukRadios({
        idPrefix: "relationship-question",
        name: "relationship-question",
        classes: "govuk-radios--inline",
        fieldset: {
          legend: {
            text: "Does Albus Dumbledore have an appointee?",
            isPageHeading: false,
            classes: "govuk-body-l"
          }
        },
        items: [
          {
            value: "true",
            text: "Yes"
          },
          {
            value: "false",
            text: "No"
          }
        ]
      }) }}

      <div id="appointee-details-hidden" class="govuk-radios__conditional--hidden">
        {{ govukInput({
          label: {
            text: 'Appointee first name'
          },
          id: "appointee-first-name",
          classes: "govuk-input--width-20",
          name: "appointee-first-name"
        }) }}

        {{ govukInput({
          label: {
            text: 'Appointee last name'
          },
          id: "appointee-last-name",
          classes: "govuk-input--width-20",
          name: "appointee-last-name"
        }) }}
      </div>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    $(document).on('click', function () {
      if ($('#relationship-question-1').is(':checked')) {
        $('#appointee-details-hidden').removeClass('govuk-radios__conditional--hidden')
      } else {
        $('#appointee-details-hidden').addClass('govuk-radios__conditional--hidden')
      }
    })
  </script>
{% endblock %}