{% extends "index-page/dwp-prototype-index-page.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {# Most recent #}
      {% set mostRecent = true %}
      {% include "_design-notes/child-death-journey/version-1.html" %}
      {% set mostRecent = false %}
      
      <h2 class="govuk-heading-l">All iterations</h2>
      <details class="govuk-details govuk-!-margin-bottom-0">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Child death journey
          </span>
        </summary>
        {% include "_design-notes/child-death-journey/version-1.html" %}
      </details>

      <details class="govuk-details govuk-!-margin-bottom-0">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            FEP child journey
          </span>
        </summary>
        {% include "_design-notes/fep-child-journey/version-1.html" %}
      </details>

      <details class="govuk-details govuk-!-margin-bottom-0">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Hospital lookup
          </span>
        </summary>
          {% include "_design-notes/hospital-lookup/version-1.html" %}
      </details>
    </div>
</div>

{% endblock %}